nltk==3.7
numpy==1.23.4
pandas==1.5.0
Pillow==9.2.0
plotly==5.3.1
requests==2.28.1
scipy==1.9.1
streamlit==1.13.0
textblob==0.17.1
wordcloud==1.8.2.2
matplotlib==3.4.3
tweepy==4.10.1
azure.cosmos==4.3.0